


.App-logo {
  height: 150px;
  pointer-events: none;
  /* justify-content: center; */
}

.App-header {
  height: 100%;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  justify-content: center;
}

 profile-containerr {
  border: 1px solid black;
    width: 250px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
 } 